@use "../abstracts";

html.dark {
    --text-color: #FFF;
    --icon-color: brightness(0) saturate(100%) invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);

    --body-bg: #292E39;

    --header-bg-color: #171C28;
    --footer-bg-color: var(--header-bg-color);
    --footer-form-border-color: #FFF;
    
    --top-act-group-bg-color: #292E39;
    --top-act-group-shadow:  rgba(0, 0, 0, 0.20);
    --top-act-group-separate: #EDEDF6;

    // Dropdown
    --dropdown-bg-color: #292E39;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.40);
     --top-menu-border-color: #171C28;
      --menu--column-icon-color: brightness(0) saturate(100%) invert(94%) sepia(97%) saturate(0%) hue-rotate(184deg) brightness(108%) contrast(95%);

      // Sidebar 
    --sidebar-bg:#292E39;
    --sidebar-shadow: rgba(23, 28, 40, 0.40);

    // Category
    --cate-item-bg: #171C28;
    --cate-item-thumb-bg: #292E39;
    --cate-item-title-color: #FFF;

        // Buttons
    --filter-btn-color: #FFF;
    --filter-btn-bg: #171C28;

    // Product card
    --product-card-bg: #171C28;
    --product-card-shadow:rgba(0, 0, 0, 0.20);
    --filter-form-heading: #FFF;
     // filter form
    --filter-form-bg: var(--dropdown-bg-color);
    --filter-form-shadow: rgba(0, 0, 0, 0.40);
    --filter-form-heading: #FFF;
    --filter-form-tag-bg: #171C28;
    --filter-form-arrow: brightness(0) saturate(100%) invert(12%) sepia(8%) saturate(2157%) hue-rotate(183deg) brightness(96%) contrast(83%);

    //Forms
    --form-placeholder-color: #B9BABE;

    --auth-content-bg: #292E39;;
    --auth-intro-bg: #171C28;
    --auth-intro-text-color: #B9BABE;
    --auth-heading-color: #B9BABE;

    // Product detail
    --product-detail-bg: #292E39;

    //Breadcrumbs 
    --breadcrumbs-bg: #171C28;
    --breadcrumb-shadow: rgba(23, 28, 40, 0.20);

     @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.20);
    };
    
}