<div class="container col">
    <div class="footer__row row">
        <!-- Footer column 1 -->
        <div class="footer__col col col-2 col-xl-12">
            <div class="footer__logo-box">
                <a href="./" class="logo footer__logo">
                    <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                    <h3 class="logo__title">grocerymart</h3>
                </a>
                <ul class="footer__list footer__list--contact">
                    <li>
                        <p class="footer__label">Email</p>
                        <a href="#!" class="footer__link">grocerymar@gmail.com</a>
                    </li>
                    <li>
                        <p class="footer__label">Telephone</p>
                        <a href="#!" class="footer__link">0123445678</a>
                    </li>
                    <li>
                        <p class="footer__label">Address</p>
                        <p class="footer__text">Ngoc Hoi, Ha Noi</p>
                    </li>
                    <li>
                        <p class="footer__label">Hours</p>
                        <p class="footer__text">08:00am - 06:00pm</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Footer column 2 -->
        <div class="footer__col col col-2 col-xl-4 col-sm-12">
            <h3 class="footer__heading">SHOP</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">All Departments</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Fashion Deals</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Electronics Discounts</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Home & Living Specials</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Beauty Bargains</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Sports & Outdoors Deals</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 3 -->
        <div class="footer__col col col-2 col-xl-4 col-sm-12">
            <h3 class="footer__heading">SUPPORT</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Store locator</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Order status</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 4 -->
        <div class="footer__col col col-2 col-xl-4 col-sm-12">
            <h3 class="footer__heading">COMPANY</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Custom Service</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Terms of Use</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Privacy</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Careers</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">About</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Affiliates</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Recall Info</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 5 -->
        <div class="footer__col col col-3 col-xl-12">
            <h3 class="footer__heading">Stay In Touch</h3>
            <div class="footer__social">
                <a href="#!" class="footer__social-link">
                    <img src="./assets/icons/facebook.svg" alt="Facebook" class="footer__social-icon" />
                </a>
                <a href="#!" class="footer__social-link">
                    <img src="./assets/icons/twitter.svg" alt="Twitter" class="footer__social-icon icon" />
                </a>
                <a href="#!" class="footer__social-link">
                    <img src="./assets/icons/instagram.svg" alt="Instagram" class="footer__social-icon icon" />
                </a>
                <a href="#!" class="footer__social-link">
                    <img src="./assets/icons/youtube.svg" alt="Instagram" class="footer__social-icon" />
                </a>
                <a href="#!" class="footer__social-link">
                    <img src="./assets/icons/whatsapp.svg" alt="Instagram" class="footer__social-icon" />
                </a>
            </div>

            <div class="footer__heading">Subscribe</div>
            <div class="footer__text">Subscribe our newsletter for the latest update</div>
            <form action="" class="footer__form">
                <input type="email" name="email" id="" placeholder="Enter your email..." class="footer__form-input" />
                <button type="submit" class="btn btn--primary footer__form-btn">Subscribe</button>
            </form>
        </div>
    </div>

    <div class="footer__copyright">
        <div class="footer__copyright-text">2025 | copyright © all rights reserved</div>
    </div>
</div>
